<a href="https://colab.research.google.com/github/saikhairnar20023/Data--science-programs/blob/main/SVC_Iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/content/Iris.csv")

In [3]:
df

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [58]:
x = df.iloc[:,: -1]
y = df.iloc[:,-1]

In [55]:
x

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

In [59]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size = 0.2,random_state=0)

In [25]:
x_test

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
114  115            5.8           2.8            5.1           2.4
62    63            6.0           2.2            4.0           1.0
33    34            5.5           4.2            1.4           0.2
107  108            7.3           2.9            6.3           1.8
7      8            5.0           3.4            1.5           0.2
100  101            6.3           3.3            6.0           2.5
40    41            5.0           3.5            1.3           0.3
86    87            6.7           3.1            4.7           1.5
76    77            6.8           2.8            4.8           1.4
71    72            6.1           2.8            4.0           1.3
134  135            6.1           2.6            5.6           1.4
51    52            6.4           3.2            4.5           1.5
73    74            6.1           2.8            4.7           1.2
54    55            6.5           2.8            4.6           1.5
63    64            6.1           2.9            4.7           1.4
37    38            4.9           3.1            1.5           0.1
78    79            6.0           2.9            4.5           1.5
90    91            5.5           2.6            4.4           1.2
45    46            4.8           3.0            1.4           0.3
16    17            5.4           3.9            1.3           0.4
121  122            5.6           2.8            4.9           2.0
66    67            5.6           3.0            4.5           1.5
24    25            4.8           3.4            1.9           0.2
8      9            4.4           2.9            1.4           0.2
126  127            6.2           2.8            4.8           1.8
22    23            4.6           3.6            1.0           0.2
44    45            5.1           3.8            1.9           0.4
97    98            6.2           2.9            4.3           1.3
93    94            5.0           2.3            3.3           1.0
26    27            5.0           3.4            1.6           0.4

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
sc = StandardScaler()

In [28]:
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [29]:
x_test

array([[ 1.36482834,  0.14956537, -0.58304897,  0.94512598,  1.91948971],
       [-0.09748774,  0.43000045, -1.9460206 ,  0.2829358 , -0.10102577],
       [-0.91301017, -0.27108724,  2.59721815, -1.28224097, -1.25560605],
       [ 1.1679781 ,  2.25282843, -0.35588703,  1.66751526,  1.0535545 ],
       [-1.64416821, -0.97217492,  0.77992265, -1.22204187, -1.25560605],
       [ 0.97112786,  0.85065306,  0.55276071,  1.48691794,  2.06381224],
       [-0.71615993, -0.97217492,  1.00708459, -1.34244008, -1.11128352],
       [ 0.57742738,  1.41152321,  0.09843684,  0.70432955,  0.6205869 ],
       [ 0.29621274,  1.55174074, -0.58304897,  0.76452866,  0.47626436],
       [ 0.15560543,  0.57021798, -0.58304897,  0.2829358 ,  0.33194183],
       [ 1.9272576 ,  0.57021798, -1.03737285,  1.24612151,  0.47626436],
       [-0.40682383,  0.9908706 ,  0.32559878,  0.58393134,  0.6205869 ],
       [ 0.21184836,  0.57021798, -0.58304897,  0.70432955,  0.18761929],
       [-0.32245944,  1.13108813, -0.58304897,  0.64413044,  0.6205869 ],
       [-0.06936628,  0.57021798, -0.35588703,  0.70432955,  0.47626436],
       [-0.80052432, -1.11239246,  0.09843684, -1.22204187, -1.39992858],
       [ 0.35245567,  0.43000045, -0.35588703,  0.58393134,  0.6205869 ],
       [ 0.68991323, -0.27108724, -1.03737285,  0.52373223,  0.18761929],
       [-0.57555261, -1.25261   , -0.1287251 , -1.28224097, -1.11128352],
       [-1.39107504, -0.41130478,  1.91573234, -1.34244008, -0.96696098],
       [ 1.56167858, -0.1308697 , -0.58304897,  0.82472776,  1.34219957],
       [ 0.01499811, -0.1308697 , -0.1287251 ,  0.58393134,  0.6205869 ],
       [-1.16610334, -1.25261   ,  0.77992265, -0.98124544, -1.25560605],
       [-1.61604674, -1.81348015, -0.35588703, -1.28224097, -1.25560605],
       [ 1.7022859 ,  0.71043552, -0.58304897,  0.76452866,  1.0535545 ],
       [-1.22234626, -1.53304507,  1.23424653, -1.5230374 , -1.25560605],
       [-0.60367407, -0.83195739,  1.6885704 , -0.98124544, -0.96696098],
       [ 0.88676347,  0.71043552, -0.35588703,  0.46353312,  0.33194183],
       [ 0.77427762, -0.97217492, -1.71885866, -0.13845795, -0.10102577],
       [-1.10986041, -0.97217492,  0.77992265, -1.16184276, -0.96696098]])

In [31]:
from sklearn.svm import SVC

In [35]:
svc = SVC(kernel="linear",random_state=0)

In [36]:
svc.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [37]:
pred_y =svc.predict(x_test)

In [38]:
pred_y

array(['Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa'], dtype=object)

In [39]:
y_test

array(['Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa'], dtype=object)

In [42]:
from sklearn.metrics import confusion_matrix , accuracy_score

In [43]:
accuracy_score(y_test,pred_y)

0.9333333333333333

In [45]:
confusion_matrix(y_test,pred_y)

array([[11,  0,  0],
       [ 0, 11,  2],
       [ 0,  0,  6]])